@font-face {
  font-family: 'Netflix Sans';
  src: url('fonts/NetflixSans.otf');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Netflix Sans', sans-serif;
}

:root {
  --primary-color: #e50914;
  --btn-hover-color: #f40612;
  --btn-active-color: #bb0a12;
  --section-border-color: #222;
}

body {
  background-color: #000;
  color: white;
}

/* Default Style */
h1 {
  font-size: 64px;
  max-width: 640px;
  margin: 0 auto;
  line-height: 1.1;
}

/* 
h2 {
  font-size: 500px;
} */

h3 {
  font-size: 26px;
  font-weight: 400;
}

h4 {
  font-size: 19px;
  font-weight: 400;
}

section {
  width: 100%;
  border-bottom: 8px solid var(--section-border-color);
  padding: 70px 45px;
}

section .container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section .info {
  width: 52%;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 3rem;
}

section .info h2 {
  margin-bottom: 20px;
}

section .img_container {
  width: 48%;
  flex: 0 1 auto;
}

section .img_container img {
  width: 100%;
}

button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  min-height: 40px;
}

/* Header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

header .logo {
  width: 200px;
}

header .logo img {
  width: 100%;
}

header a {
  display: block;
  text-decoration: none;
  color: #fff;
  background-color: var(--primary-color);
  font-size: 1rem;
  padding: 7px 17px;
  border-radius: 2px;
}

/* Section Hero */
section#hero {
  position: relative;
  background: url(images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* overlay */
section#hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(0deg,
      rgba(0, 0, 0, 0.8),
      transparent 60%,
      rgba(0, 0, 0, 0.8));
  z-index: 1;
}

#hero .hero_info {
  padding: 75px;
  margin-top: 75px;
  width: 100%;
  max-width: 950px;
  text-align: center;
  z-index: 2;
}

#hero .hero_info h3 {
  margin: 16px 0;
}

/* Membership Box */
.membership {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 950px;
  width: 100%;
}

.membership h4 {
  margin: 20px 0;
  text-align: center;
  font-weight: 400;
  padding: 0 5%;
}

.membership .input_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.membership .input_container .input_box {
  width: 100%;
  position: relative;
  max-width: 500px;
}

.membership .input_container .input_box input {
  width: 100%;
  height: 70px;
  padding: 0 10px;
  border: none;
  outline: none;
  font-size: 1rem;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.membership .input_container .input_box label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #8c8c8c;
  font-weight: 300;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

.membership .input_container .input_box input:focus+label,
.membership .input_container .input_box input:valid+label {
  font-size: 13px;
  font-weight: 500;
  top: 6px;
  transform: translateY(0);
}

.membership .input_container button {
  min-height: 70px;
  padding: 0 30px;
  border-left: 1px solid #333;
  font-size: 1.875rem;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  display: flex;
  align-items: center;
}

.membership .input_container button:hover {
  background-color: var(--btn-hover-color);
}

.membership .input_container button {
  background-color: var(--btn-active-color);
}

/* Sections */

#section_mobile .container,
#section_kids .container {
  flex-direction: row-reverse;
}

#section_tv .info,
#section_watch_everywhere .info {
  padding: 0 3rem 0 0;
}

#section_mobile .img_container,
#section_kids .img_container {
  margin-right: 3rem;
}

/* Section FAQ */
#section_faq .container {
  flex-direction: column;
  align-items: center;
}

#section_faq h2 {
  text-align: center;
}

#section_faq ul {
  margin: 2rem auto;
  width: 75%;
  max-width: 815px;
}

#section_faq ul li {
  list-style: none;
  font-size: 1.625rem;
  margin-bottom: 8px;
}

#section_faq .question {
  font-weight: 400;
  margin-bottom: 1px;
  padding: 20px;
  position: relative;
  width: 100%;
  background-color: #303030;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

#section_faq .question .close_button {
  position: absolute;
  font-size: 50px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.25s ease-in-out;
}

#section_faq .answer {
  overflow: hidden;
  background: #303030;
  max-height: 0;
  transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
}

#section_faq .answer span {
  padding: 1.2rem;
  display: inline-block;
}

#section_faq .question.open+.answer {
  max-height: 1200px;
}

#section_faq .question.open>.close_button {
  transform: rotate(45deg);
}